<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet"> -->
<div style="top:40%; right: 50%; background-color: burlywood;">
<span class="mat-body-2 mat-display-1">ID :</span>
 <span class="mat-display-1">{{id}}</span>
 <br><br>
 <span class="mat-body-2 mat-display-1">USER ID :</span>
 <span class="mat-display-1">{{Userid}}</span>
 <br><br>
 <span class="mat-body-2 mat-display-1">Title :</span>
 <span class="mat-display-1">{{Title}}</span>
 <br><br>
 <span class="mat-body-2 mat-display-1">BODY:</span>
 <span class="mat-display-1">{{Body}}</span>
</div>